.container {
  position: relative;

  &:focus-within {
    .options {
      display: block;
    }
  }
}

.label {
  display: block;
  margin-bottom: 5px;
}

.options {
  display: none;
  position: absolute;
  top: 2.5rem;
  z-index: 10;

  width: 100%;

  background-color: var(--bg-color-overlay);
  list-style: none;

  padding: 0;
  margin: 0;

  border-radius: 5px;
}

.option {
  padding: 0;
  .optionButton {
    height: 100%;
    width: 100%;

    border: none;
    background-color: transparent;

    padding: 0.5rem;

    --transition-ms: 100ms;
    transition: background-color var(--transition-ms) linear;

    &:hover {
      cursor: pointer;
    }
  }
}
