.container {
  height: 80%;
  width: 100%;
}

.loadingContainer {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 100%;
  width: 100%;

  .spinnerContainer {
    --size: 2rem;
    height: var(--size);
    width: var(--size);
  }
}

.content {
  display: flex;
  gap: 1rem;

  height: 100%;
  width: 100%;

  .sidebarContainer {
    flex: 1;
  }

  .main {
    flex: 4;
  }
}

.eventsModal {
  
}
