:root {
  /* App colors */
  --bg-color: #FFFFFF;
  --bg-color-light: #F0EFEF;
  --bg-color-surface: #737994;
  --bg-color-overlay: #D9D9D9;
  --red: #CC3300;
  --green: #a6d189;
  --yellow: #FFCC00;
  --blue: #8caaee;
  --mauve: #ca9ee6;
  --rosewater: #f2d5cf;
  --sky: #8AB0AB;
  --periwinkle: #c6d0f5;
  --ebony-clay: #8493ea;
  --gray: #bcc0cc;
  --gray-light: #ccd0da;
  --gray-dark: #acb0be;
  --dark-white: #f2f0f0;

  --default-transition-ms: 100ms;

  /* Main theme colors */
  --app-theme-primary: var(--sky);
  --app-theme-secondary: #3E505B;
  --app-theme-tertiary: #26413C;
  --app-theme-text-primary: #03120E;
  --app-theme-text-secondary: #E2E2E2;

  /* Basic colors */
  --app-theme-gray: var(--gray);
  --app-theme-gray-light: var(--gray-light);
  --app-theme-gray-dark: var(--gray-dark);

  /* Special colors */
  --app-theme-success: var(--green);
  --app-theme-success-light: #c0f29d;
  --app-theme-warning: var(--yellow);
  --app-theme-warning-light: #FFE16B;
  --app-theme-danger: var(--red);
  --app-theme-danger-light: #FF9966;
  --app-theme-subtle: #898787;
  --app-theme-subtle-dark: var(--bg-color);
  --app-theme-link: #8caaee;
  --app-theme-overlay: var(--bg-color-overlay);
  --app-theme-overlay-light: var(--bg-color-light);

  /* This is the font used for special headers like custom banners, h1, etc. */
  /* --app-theme-header-font: 'Luckiest Guy'; */
  --app-theme-header-font: 'Inter';

  /* This is the main font for the app. Used for paragraphs, labels, etc. */
  --app-theme-font: 'Dosis';
  /* The readable font is meant to be easy to read for utility. Used for button text, etc. */
  --app-theme-readable-font: 'Inter';


  --app-border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  border: 0;

  background-color: var(--bg-color);

  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--app-theme-text-primary);
  font-family: var(--app-theme-header-font);
  font-weight: 400;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

body,
div,
p,
a,
label,
li {
  color: var(--app-theme-text-primary);
  font-family: var(--app-theme-font);
}

a {
  color: var(--app-theme-link);
}

ol,
ul {
  padding: 0.5rem 0.5rem;
  color: var(--app-theme-text-primary);
}

button {
  font-family: var(--app-theme-readable-font);
}
