.turbo
node_modules

# Output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build
build/
/dist
dist/
target
output/
tmp/

# OS
.DS_Store
Thumbs.db
.vscode

# Env
.oci
.env
.env.*
!.env.example
!.env.test

# Languages
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.classpath
.settings

