.container {
  position: relative;
  padding: 2rem 3rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  margin: 0.5rem 0;

  border-radius: 10px;

  text-align: center;
  color: var(--app-theme-secondary);
}

.authorAndCookTime {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author {
  font-style: italic;
  text-align: center;
}

.description {
  padding: 2rem 4rem;
  border: 2px solid var(--app-theme-border-color);
  border-radius: 10px;
  background-color: var(--bg-color-light);
  max-width: 700px;
  text-align: center;
  line-height: 1.25rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.userActions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  padding: 1rem 2rem;

  border-radius: 10px;
  background-color: var(--app-theme-gray-light);

  .editButton {
    color: var(--app-theme-primary);
  }
}

.wakeLockVideo {
  position: fixed;
  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  opacity: 0.01;

  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.cookTime {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  padding: 1rem 0;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 0 0 1rem;
}

.recipeImage {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ingredientsAndWakeLock {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.divider {
  border: none;
  height: 1px;
  margin: 2rem auto;
  width: 85%;

  @media (min-width: 768px) {
    width: 80%;
  }

  background-color: var(--app-theme-primary);

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}

.sections {
  margin-bottom: 3rem;
}
