.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.loadingContainer {
  height: 3.5rem;

  margin-top: auto;
  margin-bottom: auto;
}
