.main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100%;
}

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border: 1px solid var(--app-theme-primary);
  border-radius: 5px;

  margin: 2rem;
  padding: 2rem;
}

.pop {
  animation: pop 200ms linear;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}