.container {
  box-sizing: border-box;

  padding: 2.5rem;

  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    margin: 1.5rem 0;
  }
}

.formItem {
  margin-bottom: 1.25rem;
}

.cookTimeAndCategoryAndImportURL {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;

  .cookTime {
    flex: 1;
  }
  .category {
    flex: 2;

    min-width: 10rem;
    max-width: 15rem;
  }
  .importURL {
    flex: 4;
  }
}

.cookTimeInputs {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .cookTimeItem {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    min-width: 8rem;
  }
}

.publishSection {
  margin-top: 1rem;
}
