.button {
  --transition-ms: 100ms;
  --transform-x-px: 0;
  --untransform-x-px: calc(-1 * var(--transform-x-px));
  --transform-y-px: -0.15rem;
  --untransform-y-px: calc(-1 * var(--transform-y-px));
  --border-px: 2px;

  position: relative;

  overflow: hidden;

  height: 100%;
  width: 100%;

  padding: 0.5rem;

  font-family: var(--theme-readable-font);
  font-size: 0.8rem;

  color: var(--theme-text-secondary);
  background-color: var(--theme-primary);

  border: var(--border-px) solid transparent;
  border-radius: var(--default-border-radius);

  transition:
    border var(--transition-ms) linear,
    color var(--transition-ms) linear,
    background-color var(--transition-ms) linear;

  &:hover {
    cursor: pointer;
    border: var(--border-px) solid var(--theme-secondary);
  }

  &:disabled {
    box-shadow: 0 0;

    color: var(--theme-disabled-text);
    background-color: var(--theme-disabled);

    &:hover {
      cursor: default;
      border: 2px solid transparent;
    }
    &:active {
      transform: none;
    }
  }

  &.round {
    border-radius: 25px;
  }

  &.sm {
    height: 2rem;

    font-size: 0.6rem;
  }
  &.md {
    height: 2rem;
  }
  &.lg {
    height: 3.3rem;

    font-size: 1rem;
  }

  &.primary.animated:not(:disabled) {
    transition:
      transform var(--transition-ms) linear,
      box-shadow var(--transition-ms) linear;

    &:hover {
      transform: translate(var(--transform-x-px), var(--transform-y-px));
      box-shadow: var(--transform-x-px) var(--untransform-y-px) var(--theme-tertiary);
    }
    &:active {
      transform: translate(var(--untransform-x-px), var(--untransform-y-px));
      box-shadow: 0 0;
    }
  }

  &.secondary {
    color: var(--theme-secondary);
    background-color: transparent;

    border: 1px solid var(--theme-secondary);

    box-shadow: none;

    &:hover {
      background-color: var(--theme-secondary);
      color: var(--theme-text-secondary);
      transform: none;
      box-shadow: none;
      cursor: pointer;
    }
  }

  &.plain {
    color: var(--theme-secondary);
    background-color: transparent;

    &:hover {
      border: 1px solid var(--theme-secondary);

      transform: none;
      box-shadow: none;
    }
  }
}
