.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'head head head'
    'main main side';
  gap: 3.35rem 1rem;

  height: 100%;
  width: 100%;

  padding: 1rem;
}

.header {
  grid-area: head;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-areas: 'title title user';

  .title {
    grid-area: title;
  }

  .userContainer {
    grid-area: user;
    align-self: center;
    justify-self: center;
    margin-right: 1rem;

    height: 4rem;
  }
}

.sidebar {
  grid-area: side;
}

.main {
  grid-area: main;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 3rem;
  }
}

.userLoadingSpinner {
  --size: 2.2rem;
  height: var(--size);
  width: var(--size);
}

.pageLoading {
  justify-self: center;

  --size: 4rem;
  height: var(--size);
  width: var(--size);
}

.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.recipeCardContainer {
  height: 500px;
  width: 300px;
}
