.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttonContainer {
    height: 3rem;
  }
}

.filterContainer {
  margin-top: 2rem;

  .search {
    display: flex;
    gap: 1rem;
    align-items: center;

    width: 100%;

    .inputContainer {
      flex: 4;
    }

    .buttonContainer {
      flex: 1;
    }
  }

  .filters {
    display: flex;
    gap: 0.5rem;

    margin-top: 0.5rem;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  height: 100%;
  width: 100%;
}

.pageLoading {
  --size: 75px;
  height: var(--size);
  width: var(--size);
}

.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.recipeCardContainer {
  height: 500px;
  width: 300px;
}
