.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
}

.character {
  --size: 15rem;
  height: var(--size);
  width: var(--size);
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.actionButton {
  max-width: 300px;
}

.sections {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.section {
  padding: 1rem;

  border: 1px solid var(--app-theme-border-color, black);
  border-radius: 10px;
}

.titleContainer {
  display: flex;
  gap: 1rem;

  .buttonContainer {
    --reactive-icon-height: 1rem;
    --reactive-icon-width: 1rem;
    height: 2rem;
    width: 3rem;
  }
}

.accountInfoBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
}

.userInfoTable {
  td:not(.editColumn) {
    padding-right: 1rem;
  }
}
