* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  border: 0;
  
  background-color: var(--bg-color);
  
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--app-theme-text-primary);
  font-family: var(--app-theme-header-font);
}
h1 {
  font-size: 4rem;  
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}

body, div, p, a, label, li {
  color: var(--app-theme-text-primary);
  font-family: var(--app-theme-font);
}

a {
  color: var(--app-theme-link);
}

ol, ul {
  padding: 0.5rem 0.5rem;
  color: var(--app-theme-text-primary);
}

button {
  font-family: var(--app-theme-readable-font);
}
