.container {
  --height: 55vh;
  --width: 70vw;
  --position: 0;
  --gap: 5rem;
  --footer-height: 1.5rem;

  position: relative;

  height: var(--height);
  max-width: 95vw;
  width: var(--width);

  text-align: center;

  overflow-x: hidden;
}

.pageContainer {
  display: flex;
  gap: var(--gap);

  height: 100%;

  margin-bottom: 2rem;
}

.page {
  position: relative;
  left: calc((-100% - var(--gap)) * var(--position));

  display: flex;
  flex-direction: column;

  height: 100%;
  width: var(--width);
  max-width: 95vw;
  flex-shrink: 0;

  padding: 1rem;

  transition: left 350ms ease;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
  }
}

.footer {
  --height: calc(var(--footer-height) / 2);

  position: fixed;
  bottom: 0;
  z-index: 1001;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;

  padding: var(--height) 0;

  transition: background-color 350ms ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .pageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 3rem;
  }

  .dot {
    --transition-ms: 250ms;
    --button-gap: 10rem;

    height: 1rem;
    width: 1rem;

    border-radius: 100%;
    border: 1px solid var(--theme-primary);

    background-color: transparent;

    transition:
      border var(--transition-ms) ease,
      background-color var(--transition-ms) ease;

    &:first-child {
      margin-right: var(--button-gap);
    }
    &:last-child {
      margin-left: var(--button-gap);
    }

    &.highlighted {
      border: 1px solid var(--theme-secondary);
      background-color: var(--theme-primary);
    }
  }
}
