name: Deploy Federation

on:
  push:
    tags:
      - 'federation-v*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to deploy (e.g. federation-v1.0.0)'
        required: true
        type: string
      deploy:
        description: 'Deploy to server? (Uncheck for build-only test)'
        type: boolean
        default: true

permissions:
  contents: read
  packages: write

jobs:
  prep:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
      deploy: ${{ steps.vars.outputs.deploy }}
    steps:
      - id: vars
        run: |
          # Determine Tag
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "tag=${{ inputs.tag }}" >> "$GITHUB_OUTPUT"
          else
            echo "tag=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"
          fi

          # Determine Deploy Boolean
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] && [ "${{ inputs.deploy }}" == "false" ]; then
            echo "deploy=false" >> "$GITHUB_OUTPUT"
          else
            echo "deploy=true" >> "$GITHUB_OUTPUT"
          fi

  build_and_deploy:
    needs: prep
    uses: ./.github/workflows/go-common-build-and-deploy.yml
    with:
      app_name: federation
      tag: ${{ needs.prep.outputs.tag }}
      deploy: ${{ needs.prep.outputs.deploy == 'true' }}
      inject_file_path: ./apps/federation/backend/.oci/prod_private.pem
      ssh_username: ${{ vars.SSH_USERNAME }}
      server_ip: ${{ vars.SERVER_IP }}
      ghcr_username: ${{ vars.GHCR_USERNAME }}
    secrets:
      GHCR_PAT: ${{ secrets.GHCR_PAT }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
      INJECT_FILE_CONTENT: ${{ secrets.OCI_PRIVATE_KEY }}
      ENV_FILE_CONTENT: |
        {
          "environment": "prod",
          "mongoConnectionURL": "${{ secrets.MONGO_CONNECTION_URL}}",
          "port": "${{ vars.PORT }}"
        }
