name: Deploy Federation

on:
  push:
    tags:
      - 'federation-v*'
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
      deploy:
        type: boolean
        default: true

permissions:
  contents: read
  packages: write

jobs:
  prep:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
      deploy: ${{ steps.vars.outputs.deploy }}
    steps:
      - id: vars
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "tag=${{ inputs.tag }}" >> "$GITHUB_OUTPUT"
          else
            echo "tag=${GITHUB_REF_NAME}" >> "$GITHUB_OUTPUT"
          fi
          if [ "${{ github.event_name }}" == "workflow_dispatch" ] && [ "${{ inputs.deploy }}" == "false" ]; then
            echo "deploy=false" >> "$GITHUB_OUTPUT"
          else
            echo "deploy=true" >> "$GITHUB_OUTPUT"
          fi

  call-workflow:
    needs: prep
    uses: ./.github/workflows/go-common-build-and-deploy.yml
    with:
      app_name: federation
      tag: ${{ needs.prep.outputs.tag }}
      deploy: ${{ needs.prep.outputs.deploy == 'true' }}
      inject_file_path: ./apps/federation/backend/.oci/prod_private.pem
      environment_name: federation
    secrets:
      GHCR_PAT: ${{ secrets.GHCR_PAT }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
      # ⚠️ Ensure this is a REPOSITORY Secret, not an Environment Secret
      INJECT_FILE_CONTENT: ${{ secrets.OCI_PRIVATE_KEY }}
      ENV_FILE_CONTENT: |
        {
          "environment": "prod",
          "mongoConnectionURL": "${{ secrets.MONGO_CONNECTION_URL}}",
          "port": "${{ vars.PORT }}"
        }
