name: Deploy app

on:
  workflow_call:
    inputs:
      app:
        description: App to deploy
        required: true
        type: string
      tag:
        description: Tag to deploy
        required: true
        type: string

run-name: Deploy ${{ inputs.tag }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.app }}
    steps:
      - name: Log inputs
        run: echo ${{ inputs.app }} ${{ inputs.tag }}
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend.tar

      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend.tar
          
      - name: Unzip backend artifact
        run: tar -xvf backend.tar

      - name: Unzip frontend artifact
        run: tar -xvf frontend.tar
          
      - name: Aggregate build artifacts
        run: mkdir build && mv backend build && mv frontend build
        
      - name: Zip build
        run: tar -cvf build.tar build

      - name: Copy build to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.SERVER_IP }}
          username: ${{ vars.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: build.tar
          target: "~/."
          
      - name: Unzip tar
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SERVER_IP }}
          username: ${{ vars.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            tar -xvf ~/build.tar -C .
            cp build/backend/${{ env.APP }}-backend.jar ${{ env.APP }}-backend/
            sudo systemctl restart ${{ env.APP }}-backend
            sudo cp -r build/frontend/* /var/www/${{ env.APP }}-frontend/
            rm build.tar
            rm -rf build
