name: Deploy Web Games
on:
  push:
    tags:
      - 'web_games-v*'
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to run (e.g. federation-v1.2.3)"
        required: true
        type: string

run-name: Deploy ${{ (github.event_name == 'workflow_dispatch' && inputs.tag) || github.ref_name }}

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Setup Java Version 21
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '21'
          cache: 'maven'
          
      # TODO - check if this is necessary
      - name: Build dependency
        working-directory: packages/java-common
        run: mvn clean install
      
      - name: Build JAR
        working-directory: apps/web_games/backend
        run: mvn clean install

       
      - name: Create backend folder
        run: mkdir -p backend

      - name: Remove original JAR (this is dumb)
        working-directory: apps/web_games/backend
        run: rm target/*.original

      - name: Write .env file
        env:
          ENVIRONMENT: ${{ vars.ENVIRONMENT }}
          MONGO_CONNECTION_URL: ${{ secrets.MONGO_CONNECTION_URL }}
        run: |
          touch backend/.env
          echo ENVIRONMENT="$ENVIRONMENT" >> backend/.env
          echo MONGO_CONNECTION_URL="$MONGO_CONNECTION_URL" >> backend/.env

      - name: Copy JAR
        run: cp apps/web_games/backend/target/*.jar backend/web-games-backend.jar
        
      - name: Zip backend artifact
        run: tar -cvf backend.tar backend
      
      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend.tar
          path: .
          
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Setup Node
        uses: actions/setup-node@v4
        
      - name: Install dependencies
        working-directory: apps/web_games/frontend
        run: npm install

      - name: Build project
        working-directory: apps/web_games/frontend
        run: npm run build
        
      - name: Move frontend build to artifacts
        working-directory: ${{ github.workspace }}
        run: |
          mv apps/web_games/frontend/build frontend
          
      - name: Zip project build
        run: tar -cvf frontend.tar frontend
        
      - name: Upload project artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend.tar
          path: .
          
  deploy:
    needs: [build-backend, build-frontend]
    runs-on: ubuntu-latest
    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend.tar

      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend.tar
          
      - name: Unzip backend artifact
        run: tar -xvf backend.tar

      - name: Unzip frontend artifact
        run: tar -xvf frontend.tar
          
      - name: Aggregate build artifacts
        run: mkdir build && mv backend build && mv frontend build
        
      - name: Zip build
        run: tar -cvf build.tar build

      - name: Copy build to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ vars.SERVER_IP }}
          username: ${{ vars.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: build.tar
          target: "~/."
          
      - name: Unzip tar
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SERVER_IP }}
          username: ${{ vars.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            tar -xvf ~/build.tar -C .
            cp build/backend/web-games-backend.jar web-games-backend/
            sudo systemctl restart web-games-backend
            sudo cp -r build/frontend/* /var/www/web-games-frontend/
            rm build.tar
            rm -rf build
